In [24]:
import os

path = 'C:\\Users\\Prashanth M\\Desktop\\Untitled Folder\\Data set\\git\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\'
agg_trans_st_dir = os.listdir(path)
agg_trans_st_dir

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [25]:
import pandas as pd
import json

agg_trans_dict = {'State':[],
                  'Year':[],
                  'Quater':[],
                  'Transacion_type':[],
                  'Transacion_count':[],
                  'Transacion_amount':[]}

for i in agg_trans_st_dir:
  st_path = path+i+'/'
  st_year = os.listdir(st_path)
  for j in st_year:   
    st_year_path = st_path+j+'/'
    st_year_dir = os.listdir(st_year_path)
    for k in st_year_dir:
      json_path = st_year_path+k
      jsonData = open(json_path, 'r')
      Data = json.load(jsonData)
      for x in Data['data']['transactionData']:
                    Name = x['name']
                    count = x['paymentInstruments'][0]['count']
                    amount = x['paymentInstruments'][0]['amount']
                    agg_trans_dict['Transacion_type'].append(Name)
                    agg_trans_dict['Transacion_count'].append(count)
                    agg_trans_dict['Transacion_amount'].append(amount)
                    agg_trans_dict['State'].append(i)
                    agg_trans_dict['Year'].append(j)
                    agg_trans_dict['Quater'].append('Q'+k.strip('.json'))

agg_trans_df = pd.DataFrame(agg_trans_dict)
#agg_trans_df

In [26]:
os.getcwd()

'd:\\Python\\Project\\Zomato\\zomato'

In [27]:
agg_trans_df.to_csv('AggTransByStates.csv',index=False)

### By Brand

In [28]:
path = "C:\\Users\\Prashanth M\\Desktop\\Untitled Folder\\Data set\\git\\pulse\data\\aggregated\\user\\country\\india\\state\\"
state_dir =os.listdir(path)

user_dict = {'State': [], 'Year': [], 'Quater': [], 'Brand': [],
    'Brand_count': [], 'Brand_percentage': []}

for i in state_dir:
  state_path = path+i+'/'
  year_dir  = os.listdir(st_path)
  for j in year_dir:
    year_path = state_path+j+'/'
    file_dir = os.listdir(year_path)
    for k in file_dir:
      file_path = year_path+k
      jsonFile = open(file_path,'r')
      Data = json.load(jsonFile)
      try:
        for x in Data['data']['usersByDevice']:
          brand = x['brand']
          count = x['count']
          percentage = x['percentage']

          user_dict['Brand'].append(brand)
          user_dict['Brand_count'].append(count)
          user_dict['Brand_percentage'].append(percentage)
          user_dict['State'].append(i)
          user_dict['Year'].append(j)
          user_dict['Quater'].append('Q'+k.strip('.json'))
      except TypeError:
        pass
      
userByBrand_df = pd.DataFrame(user_dict)

userByBrand_df

,State,Year,Quater,Brand,Brand_count,Brand_percentage
0,andaman-&-nicobar-islands,2018,Q1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,Q1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,Q1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,Q1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,Q1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,Q1,Lenovo,330017,0.015056
6728,west-bengal,2022,Q1,Infinix,284678,0.012987
6729,west-bengal,2022,Q1,Asus,280347,0.012790
6730,west-bengal,2022,Q1,Apple,277752,0.012671
6731,west-bengal,2022,Q1,Others,2196334,0.100199

In [29]:
userByBrand_df.to_csv('AggUserByBrand.csv',index=False)

Map transaction by states

In [30]:
path = "C:\\Users\Prashanth M\\Desktop\\Untitled Folder\\Data set\\git\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"


state_dir =os.listdir(path)


map_trans_dict = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Transaction_count': [], 'Transaction_amount': []}

for i in state_dir:
  state_path = path+i+'/'
  year_dir  = os.listdir(st_path)
  for j in year_dir:
    year_path = state_path+j+'/'
    file_dir = os.listdir(year_path)
    for k in file_dir:
      file_path = year_path+k
      jsonFile = open(file_path,'r')
      Data = json.load(jsonFile)
      try:
        for x in Data['data']["hoverDataList"]:
          district = x['name']
          trans_count = x['metric'][0]['count']
          trans_amount = x['metric'][0]['amount']
          map_trans_dict['District'].append(district)
          map_trans_dict['Transaction_count'].append(trans_count)
          map_trans_dict['Transaction_amount'].append(trans_amount)
          map_trans_dict['State'].append(i)
          map_trans_dict['Year'].append(j)
          map_trans_dict['Quater'].append('Q'+k.strip('.json'))
      except TypeError:
        pass
      
mapTransByDist_df = pd.DataFrame(map_trans_dict)

mapTransByDist_df

,State,Year,Quater,District,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,Q1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,Q1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,Q1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,Q2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,Q2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
14631,west-bengal,2022,Q4,nadia district,12690126,2.804568e+10
14632,west-bengal,2022,Q4,birbhum district,7617444,1.614650e+10
14633,west-bengal,2022,Q4,purba medinipur district,14484229,3.309949e+10
14634,west-bengal,2022,Q4,maldah district,12492746,2.721861e+10
14635,west-bengal,2022,Q4,darjiling district,8827502,1.801650e+10

In [31]:
mapTransByDist_df.to_csv('mapTransByDistrict.csv',index=False)

By States

In [32]:
path= "C:\\Users\\Prashanth M\\Desktop\\Untitled Folder\\Data set\\git\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"
state_dir =os.listdir(path)

mapUserDictReg = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Registered_user': [], 'App_opening': []}

for i in state_dir:
  state_path = path+i+'/'
  year_dir  = os.listdir(st_path)
  for j in year_dir:
    year_path = state_path+j+'/'
    file_dir = os.listdir(year_path)
    for k in file_dir:
      file_path = year_path+k
      jsonFile = open(file_path,'r')
      Data = json.load(jsonFile)
      try:
        for x in Data['data']["hoverData"]:
          district = x
          registeredUser =  Data['data']["hoverData"][x]["registeredUsers"]
          app_opening = Data['data']["hoverData"][x]["appOpens"]
          mapUserDictReg['District'].append(district)
          mapUserDictReg['Registered_user'].append(registeredUser)
          mapUserDictReg['App_opening'].append(app_opening)
          mapUserDictReg['State'].append(i)
          mapUserDictReg['Year'].append(j)
          mapUserDictReg['Quater'].append('Q'+k.strip('.json'))
      except TypeError:
        pass
      
mapUserByDistReg_df = pd.DataFrame(mapUserDictReg)

mapUserByDistReg_df

,State,Year,Quater,District,Registered_user,App_opening
0,andaman-&-nicobar-islands,2018,Q1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,Q1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,Q1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,Q2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,Q2,south andaman district,8143,0
...,...,...,...,...,...,...
14635,west-bengal,2022,Q4,nadia district,1359420,33853990
14636,west-bengal,2022,Q4,birbhum district,855236,20950662
14637,west-bengal,2022,Q4,purba medinipur district,1346908,38278506
14638,west-bengal,2022,Q4,maldah district,954892,29023743
14639,west-bengal,2022,Q4,darjiling district,564562,15982631

In [33]:
mapUserByDistReg_df.to_csv('mapUserByDistReg.csv',index=False)

top transaction

In [18]:
path = "C:\\Users\\Prashanth M\\Desktop\\Untitled Folder\\Data set\\git\\pulse\\data\\top\\transaction\\country\\india\\state\\"

In [ ]:
state_dir =os.listdir(path)

mapUserDictReg = {'State': [], 'Year': [], 'Quater': [], 'District': [],
    'Registered_user': [], 'App_opening': []}

for i in state_dir:
  state_path = path+i+'/'
  year_dir  = os.listdir(st_path)
  for j in year_dir:
    year_path = state_path+j+'/'
    file_dir = os.listdir(year_path)
    for k in file_dir:
      file_path = year_path+k
      jsonFile = open(file_path,'r')
      Data = json.load(jsonFile)
      try:
        for x in Data['data']["hoverData"]:
          district = x
          registeredUser =  Data['data']["hoverData"][x]["registeredUsers"]
          app_opening = Data['data']["hoverData"][x]["appOpens"]
          mapUserDictReg['District'].append(district)
          mapUserDictReg['Registered_user'].append(registeredUser)
          mapUserDictReg['App_opening'].append(app_opening)
          mapUserDictReg['State'].append(i)
          mapUserDictReg['Year'].append(j)
          mapUserDictReg['Quater'].append('Q'+k.strip('.json'))
      except TypeError:
        pass
      
mapUserByDistReg_df = pd.DataFrame(mapUserDictReg)

mapUserByDistReg_df